.hero-image {
  height: 640px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

.hero-copy {
  position: absolute;
  width: 759px;
  top: 417px;
  left: 50%;
  transform: translateX(-50%); 
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hero-copy h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 72px;
  line-height: 104px;
  text-align: center;
  color: #807B19;
}

.produtos-section {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 80px 0;
  box-sizing: border-box;
}

.section-title-produtos {
  font-family: 'Kaushan Script', cursive;
  font-size: 56px;
  color: #E22F28;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap;
}

.card {
  width: 352px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card img {
  width: 100%;
  height: 405px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  color: #121211;
}

.card p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  color: #454545;
  line-height: 150%;
}

.institucional-section {
  width: 100%;
  max-width: 1120px;
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.institucional-texto {
  display: flex;
  flex-direction: column;
  gap: 48px;
  flex-basis: 448px;
  flex-grow: 1;
}

.section-title-institucional {
  font-family: 'Kaushan Script';
  font-size: 48px;
  color: #E22F28;
  letter-spacing: -0.02em;
}

.texto-bloco {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.texto-bloco h3 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  color: #121211;
}

.texto-bloco p {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  color: #454545;
  line-height: 150%;
}

.institucional-imagem {
  flex-basis: 628px;
  flex-grow: 1;
}

.institucional-imagem img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 24px solid #E22F28;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}