.cta-whatsapp-wrapper {
  background: #E22F28; 
}

.cta-whatsapp {
  height: auto; 
  width: 100%;
  max-width: 1120px; 
  margin: 0 auto;

  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  gap: 24px;
  padding: 40px 20px; 
}

.section-title-cta {
  font-family: 'Kaushan Script';
  font-size: 40px;
  color: #F9F9F9; 
  letter-spacing: -0.02em;
}

.button-whatsapp {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px; 
  gap: 16px; 
  
  width: 318px;
  height: 63px;
  background: #4BAE4F; 
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  text-decoration: none;

  font-family: 'Inter';
  font-weight: 500;
  font-size: 24px;
  color: #F9F9F9; 
}

.button-whatsapp img {
  width: 63px;
  height: 63px;
}

@media (min-width: 768px) {
  .cta-whatsapp {
    height: 210px; 
    flex-direction: row; 
    justify-content: space-around;
    padding: 20px; 
  }

  .section-title-cta {
    font-size: 48px; 
  }
}