.header-wrapper {
  background: #FBBB04;
  border-bottom: 16px solid #E22F28;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-sizing: border-box;
  height: 210px; 
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; 
}

.logo img {
  width: 144px; 
  height: auto;
  display: block;
}

.menu-items {
  display: flex;
  align-items: center;
  gap: 48px;
}

.menu-items a {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  color: #E22F28;
  text-decoration: none;
}

.menu-items a.button-header {
  background: #E22F28;
  color: #F9F9F9;
  padding: 14px 24px;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}