@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Kaushan+Script&display=swap');

body {
  background: #F9F9F9;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}