@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Kaushan+Script&display=swap');

body {
  background: #F9F9F9;
  font-family: 'Inter', sans-serif; 
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

h1, h2, h3 {
  font-family: 'Kaushan Script', cursive;
  font-weight: 400; 
}

h2 {
  font-size: 40px; 
}

h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 24px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 72px; 
  }
  h2 {
    font-size: 56px;
  }
}